<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="style.css">
  <head>
  </head>
  <body>
    <div class='top'>
      <div class="top-left">
      </div>
      <div class="top-right">
      </div>
    </div>
  </body>
</html>
