<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%# <link rel="stylesheet" href="style.css"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='top'>
    <div class="top-left">
      <img src="images/ha.png" alt="サンプル画像です" class="image">
    </div>
    <div class="top-right">
      <div class="tadaima">ただいま転職活動中</div>
    </div>
  </div>
  <div class="space"></div>
  <div class="about">
    about me
  </div>
  <h1>ポートフォリオ</h1>
  <footer>
    <h3>Copyright 2020 youki nakazawa</h3>
  </footer>
  </body>
</html>
 