<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="top">
    <div class="topleft">
    </div>
    <div class="topright">
    </div>
  </div>
  <h1>ポートフォリオ</h1>
  <footer>
    <h3>Copyright 2020 youki nakazawa</h3>
  </footer>
  </body>
</html>
